@font-face {
    font-family: "proxim nova";
    src: url("../fonts/Proxima%20Nova%20Regular.otf") format("opentype");
}
body
{
	margin: 0;
	padding: 0;
	font: normal 10pt "proxim nova",Tahoma,Arial,Helvetica,sans-serif;
	background: #FFF;
    overflow-y:scroll;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

.navbar-nav > li > a{
    border-right: 1px solid #01325A !important;
    border-left: 1px solid #01325A !important;
    background-color: #01325A !important;
}

.navbar-nav > li.open > a:focus{
    background-color: #01325A !important;
    color: #FFF;
}

.navbar-nav > li > a:hover{
    background-color: #01325A !important;
}

.navbar-nav > li > a.nav-link:hover{
    color: #FFB400 !important;
}

.navbar-nav .dropdown-menu a:hover{
    color: #FFF;
}
#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    background: #FFF;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}


#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}
.loader {
    margin-top: 400px;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}
nav .container{
    margin-right: 5px !important;
    margin-left: 5px !important;
    width: 1360px;
}
.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* ===================
*  Custom CSS
*  =================== */

.unread {
    color: #FF2222;
}

.deadline_task_time {
    background-color: #FFFAD0;
}
.exceeded_task_time {
    background-color: #FFE3E3;
}
svg {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
}
rect {
    fill: #76daff;
}
.select-prompt{
    color: #DEDEDE;
    font-size: 17px;
    font-weight: 700;
    margin-top: 200px;
    text-align: center;
}

.member-list{
    list-style-type: none;
    padding: 15px;
    margin: 0px;

}

.admin-label{
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    padding: 3px;
    background-color: #222;
    border-radius: 3px;
}
.supervisor-label{
    font-weight: 700;
    font-size: 14px;
    color: #FF2222;
}
.member-list li{
    color: #333;
    font-size: 20px;
    border-bottom: 1px solid #444;
}

.member-list li:nth-child(1){
    border-top: 1px solid #444;
}

.details-panel{
    min-height: 520px;
    border-radius: 4px 0px 0px 4px !important;
    border: 1px solid #BBB;
    border-right: 0px solid #FFF;
    box-shadow: 0px 0px 1px 1px #CCC;
}
.panel-heading{
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f2f2f2));
    background: -moz-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f2f2f2)) ;
    background: -ms-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f2f2f2)) ;
    background-image: url("../images/panel_header.png");
    background-repeat: repeat-x;
    color: #555 !important;
    padding: 6px !important;
    font-size: 16px;
    font-weight: 600;
    line-height:20px;
    border-radius: 4px 0px 0px 0px;
}

.task-form-input-container{
    margin-left: -5px !important;
    padding-left: 0px !important;
}

.navbar-font-icon a i{
    color: #EEE;
}
.navbar{
    border-bottom: 4px solid #FFB400 !important;
    background-color: #01325A !important;
    border-right: 1px solid #01325A !important;
    border-left: 1px solid #01325A !important;
}

#loading-indicator{
    display: inline-block;
    position: absolute;
    margin-top: 12px;
    left: 600px;
    color: #FFF;
    font-weight: 650;
    font-size: 16px;
    padding: 3px 6px;
    border-radius: 2px;
}

.radio-input-container div{
    display: inline;
    float: left !important;

}
.form-control{
    padding: 2px 4px  !important;
    border-radius: 2px !important;
    transision: box-shadow ease-in-out .0s !important;
    box-shadow: 0px 0px 0px 0px !important;

}
.form-control:focus{
    border-width: 1px !important;
}
#app-name-link{
    font-size: 16px !important;
    color : #E0E0E0;
    font-size: 24px !important;
    font-weight: 650 !important;
}

.label-default{
    background-color: #DDD;
}

.notification-indicator{
    border-radius: 13px !important;
    background-color: #FFB400;
    position: absolute;
    top: 0px;
    left: 10px;
    box-shadow: 0px 0px 1px 1px #DDD;
    z-index: 10000;
}

.large-nav-text{
    font-size: 19px !important;
}

.panel-body{
    padding: 6px;
}

.filter-control{
    height: 23px !important;
}

.app-control{
    height: 30px !important;
}

.app-name-text{

}
#add-comments-form-container{
    margin-top: 4px;
}

#task-details-container{
    max-height: 520px;
    padding-right: 2px;
}

td.title_cell{
    font-size: 17px !important;
    font-weight: 300;
}

td.user_id_cell{
    vertical-align: middle;
}

.reminded td.title_cell i{
    color: #d9534f;
}


.task-content-tab a{
    padding: 5px 4px !important;
    color: #01325A !important;
    font-weight: 620 !important;
    font-size: 16px;
}
.task-control-panel{
    height: 32px;
    margin-top: -6px;

}
.task-content-tab a:hover{
    color: #FFB400 !important;
}
.task-content-tab span{
    font-size: 10px;
    font-weight: 400;
}
.datepicker{
    z-index:99999 !important;
}
.fa-hover{
    background-color: transparent;
    display: inline-block;
    float: left;
    top: -6px;
    padding-top: 6px;
    line-height: 20px;
    height: 32px;
    border-radius: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 300;
}
.fa-hover:hover{
    background-color: #EDEDED;
    box-shadow: inset 0px 0px 1px 2px #DDD;
}
.action-link {
    transition: all 0.2s;
    font-size: 15px !important;
    color: #555 !important;

}
.sort-link{
    font-size: 12px;
}
.action-link:hover{
    color: #FFB400 !important;
}
.empty-task-manager{
    color: #BBB;
    font-size: 29px;
    text-align: center;
    line-height: 2.3;
    margin-top: 60px;
}
.tooltip div{
    color: #FFB400 !important;
    white-space: nowrap;
}
.tooltip div span{
    background-color: #444 !important;
}
#options-container{
    display: inline-block;
    position: absolute;
    left: 150px;
}

.form-submit-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Courier New;
    font-size:13px;
    font-weight:bold;
    padding:7px 22px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
.form-submit-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.form-submit-button:active {
    position:relative;
    top:1px;
}
tr.group-grid-row{
    cursor: pointer;
}
tr.selected-row {
    background-color:#dff0d8;
    background-color: rgba(243,243,243,.85);

}
.errorMessage{
    color: #ff1318;
}
.content {
    background-color: #FEFEFE;
    width: 1360px !important;
}

.connection_status{
    display: inline-block !important;
    border-radius: 8px !important;
    width: 16px !important;
    height: 16px !important;
    border: 2px solid #FFF;
}

.connection_status_option .connection_status{
    border: 2px solid #111;
}

.connection_status_option:hover .connection_status{
    border: 2px solid #FFF;
}
.connection_status_option{
    text-align: justify;
    font-size: 13px !important;
}
.connection_status_online {
    background-color: #33EE44;
}
.connection_status_offline{
    background-color: #EE3344;
}

.connection_status_break{
    background-color: #3322EE;
}
/* Loader CSS Class */

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading span {
    font-weight: 650;
    font-size: 24px;
    color: #DEDEDE;
    text-align: center;
}
.loading .bullet {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background: #65a3ff;
    -webkit-animation: animIn 1s ease-in-out 0s infinite;
    animation: animIn 1s ease-in-out 0s infinite;
}
.loading .bullet:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.loading .bullet:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.loading .bullet:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.loading .bullet:nth-child(4) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}
@-webkit-keyframes animIn {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes animIn {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
}

.no-hover a:hover{
    color: #FFF !important;
}
